{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 41.032033,
    "longitude": -81.6568078,
    "elevation": 1106,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 50
  }
}